<footer class="">
  <div class="bg-neutral-blue-light pt2">
    <div class="container-fluid m0 p0">
      <div class="row mx-responsive m0 p0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2 p0">
          <p class="align-center">Várunk benneteket szeretettel, felkészültséggel, és lendülettel!</p>
          <div class="mb4 align-center" >
            <a href="<%= workshopData.event_link %>" class="no-underline btn large-btn btn-lg" style="padding-top: 4px;">
              Gyere és próbáld ki!
            </a>
            <div class="align-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#4830E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-chevron-up">
                <polyline points="18 15 12 9 6 15"></polyline>
              </svg>
              <p class="mb0 medium-size main-blue">Facebook esemény link</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-responsive m0 p0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-2 p0 pb1 clearfix">

          <p class="medium-size m0 neutral-blue-2">&copy;
            <%= site.author %>,
            <%= site.currentYear %>. Minden jog fenntartva.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>