<header>
  <div class="bg-neutral-blue-light mb2">
    <div class="container-fluid m0 p0 ">
      <div class="row mx-responsive navbar-height">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p0 clearfix">
          <div class="float-left mb0">
            <a class="" href="/">
              <img src="/assets/images/logo.png" class="m0 float-left logo" style="margin-top: 7px" alt="<%= site.title %> logo">
            </a>
          </div>

          <div class="d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" style="margin-top: .4rem;">
            <ul class="nav nav-pills mt0">
              <li class="nav-item dropdown">
                <a class="nav-link white-link dropdown-toggle bold-body medium-size border-neutral-blue no-underline" data-toggle="dropdown"
                  href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu dropdown-menu-right bold-body">
                  <a class="dropdown-item no-underline" href="#orarend-tudnivalok">Órarend+Tudnivalók</a>
                  <a class="dropdown-item no-underline" href="#helyszin">Helyszín</a>
                  <a class="dropdown-item no-underline" href="#kapcsolat">Kapcsolat</a>
                  <a class="dropdown-item no-underline" href="/a-kizombarol-es-a-sembarol.html">A kizombáról és a sembáról</a>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-8 col-xl-8 p0 clearfix">
          <div class="float-right" style="float:right !important;">
            <nav class="mobile-hide-nav" style="margin-top: 15px" role="navigation">
              <a href="#orarend-tudnivalok" class="medium-size gray-link mr40px pthalf">Órarend+Tudnivalók</a>
              <a href="#helyszin" class="medium-size gray-link mr40px pthalf">Helyszín</a>
              <a href="#kapcsolat" class="medium-size gray-link mr40px pthalf">Kapcsolat</a>
              <a href="/a-kizombarol-es-a-sembarol.html" class="medium-size gray-link mr40px pthalf">A kizombáról és a sembáról</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>