<div class="bg-purple-gradient">
  <div class="container-fluid m0 p0">
    <header>
      <div class="row mx-responsive m0 p0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p0 clearfix">
          <div class="float-left mb0 mrhalf">
            <a href="/">
              <svg width="193" height="61" viewBox="0 0 193 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M50.1378 47H52.9055V43.2798L54.267 41.6179L57.853 47H61.1641L56.2486 39.7706L61.1065 33.9091H57.7891L53.0781 39.6811H52.9055V33.9091H50.1378V47ZM63.112 47H65.835V37.1818H63.112V47ZM64.4799 35.9162C65.2917 35.9162 65.9565 35.2962 65.9565 34.5355C65.9565 33.7812 65.2917 33.1612 64.4799 33.1612C63.6745 33.1612 63.0098 33.7812 63.0098 34.5355C63.0098 35.2962 63.6745 35.9162 64.4799 35.9162ZM67.9652 47H76.2173V44.8267H71.5384V44.7564L76.0511 38.9524V37.1818H68.1314V39.3551H72.772V39.4254L67.9652 45.3764V47ZM82.4544 47.1918C85.4331 47.1918 87.2868 45.1527 87.2868 42.1293C87.2868 39.0866 85.4331 37.054 82.4544 37.054C79.4757 37.054 77.622 39.0866 77.622 42.1293C77.622 45.1527 79.4757 47.1918 82.4544 47.1918ZM82.4672 45.0824C81.0929 45.0824 80.3897 43.8232 80.3897 42.1101C80.3897 40.397 81.0929 39.1314 82.4672 39.1314C83.8159 39.1314 84.519 40.397 84.519 42.1101C84.519 43.8232 83.8159 45.0824 82.4672 45.0824ZM89.0574 47H91.7804V41.1065C91.7804 40.0199 92.4707 39.2976 93.3784 39.2976C94.2733 39.2976 94.8741 39.9112 94.8741 40.8764V47H97.514V41.0043C97.514 39.9879 98.0957 39.2976 99.0865 39.2976C99.9558 39.2976 100.608 39.8409 100.608 40.9339V47H103.324V40.397C103.324 38.2685 102.059 37.054 100.231 37.054C98.7924 37.054 97.6738 37.7891 97.2711 38.9141H97.1689C96.8556 37.7763 95.8521 37.054 94.5034 37.054C93.1802 37.054 92.1767 37.7571 91.7676 38.9141H91.6525V37.1818H89.0574V47ZM105.526 47H108.211V45.4276H108.333C108.71 46.2457 109.534 47.1598 111.119 47.1598C113.357 47.1598 115.102 45.3892 115.102 42.1037C115.102 38.7287 113.28 37.054 111.126 37.054C109.483 37.054 108.697 38.032 108.333 38.831H108.249V33.9091H105.526V47ZM108.192 42.0909C108.192 40.3395 108.933 39.2209 110.257 39.2209C111.605 39.2209 112.321 40.3906 112.321 42.0909C112.321 43.804 111.593 44.9929 110.257 44.9929C108.946 44.9929 108.192 43.8423 108.192 42.0909ZM119.718 47.1854C121.169 47.1854 122.109 46.5526 122.588 45.6385H122.665V47H125.248V40.3778C125.248 38.0384 123.266 37.054 121.08 37.054C118.728 37.054 117.181 38.179 116.804 39.9688L119.322 40.1733C119.507 39.5213 120.089 39.0419 121.067 39.0419C121.994 39.0419 122.525 39.5085 122.525 40.3139V40.3523C122.525 40.9851 121.853 41.0682 120.147 41.2344C118.203 41.4134 116.458 42.0653 116.458 44.2578C116.458 46.201 117.846 47.1854 119.718 47.1854ZM120.498 45.3061C119.661 45.3061 119.06 44.9162 119.06 44.1683C119.06 43.4013 119.693 43.0241 120.652 42.8899C121.246 42.8068 122.218 42.6662 122.544 42.4489V43.4908C122.544 44.5199 121.694 45.3061 120.498 45.3061ZM134.513 37.674H137.165C137.127 35.3409 135.21 33.7301 132.295 33.7301C129.425 33.7301 127.322 35.3153 127.335 37.6932C127.328 39.6236 128.69 40.7294 130.901 41.2599L132.327 41.6179C133.752 41.9631 134.545 42.3722 134.551 43.2543C134.545 44.2131 133.637 44.8651 132.231 44.8651C130.793 44.8651 129.757 44.2003 129.668 42.8899H126.989C127.06 45.7216 129.086 47.1854 132.263 47.1854C135.459 47.1854 137.338 45.6577 137.344 43.2607C137.338 41.081 135.695 39.924 133.42 39.4126L132.244 39.1314C131.106 38.8693 130.153 38.4474 130.173 37.5078C130.173 36.6641 130.92 36.044 132.276 36.044C133.599 36.044 134.411 36.6449 134.513 37.674ZM139.104 47H147.356V44.8267H142.677V44.7564L147.19 38.9524V37.1818H139.27V39.3551H143.911V39.4254L139.104 45.3764V47ZM153.631 47.1918C156.06 47.1918 157.697 46.0092 158.08 44.1875L155.562 44.0213C155.287 44.7692 154.584 45.1591 153.676 45.1591C152.315 45.1591 151.452 44.2578 151.452 42.794V42.7876H158.138V42.0398C158.138 38.7031 156.118 37.054 153.523 37.054C150.634 37.054 148.761 39.1058 148.761 42.1357C148.761 45.2486 150.608 47.1918 153.631 47.1918ZM151.452 41.1001C151.509 39.9815 152.359 39.0866 153.567 39.0866C154.75 39.0866 155.568 39.9304 155.575 41.1001H151.452ZM164.338 50.8224C167.144 50.8224 169.138 49.544 169.138 47.0959V37.1818H166.435V38.831H166.332C165.968 38.032 165.169 37.054 163.526 37.054C161.372 37.054 159.55 38.7287 159.55 42.0717C159.55 45.3381 161.321 46.8594 163.533 46.8594C165.099 46.8594 165.974 46.0732 166.332 45.2614H166.447V47.0575C166.447 48.3423 165.585 48.8665 164.402 48.8665C163.2 48.8665 162.593 48.3423 162.369 47.8118L159.851 48.1506C160.177 49.6335 161.692 50.8224 164.338 50.8224ZM164.396 44.8139C163.06 44.8139 162.331 43.7528 162.331 42.0589C162.331 40.3906 163.047 39.2209 164.396 39.2209C165.719 39.2209 166.46 40.3395 166.46 42.0589C166.46 43.7912 165.706 44.8139 164.396 44.8139ZM175.78 47.1918C178.209 47.1918 179.845 46.0092 180.229 44.1875L177.71 44.0213C177.435 44.7692 176.732 45.1591 175.825 45.1591C174.463 45.1591 173.6 44.2578 173.6 42.794V42.7876H180.286V42.0398C180.286 38.7031 178.266 37.054 175.671 37.054C172.782 37.054 170.909 39.1058 170.909 42.1357C170.909 45.2486 172.756 47.1918 175.78 47.1918ZM173.6 41.1001C173.658 39.9815 174.508 39.0866 175.716 39.0866C176.898 39.0866 177.717 39.9304 177.723 41.1001H173.6ZM185.681 47.1598C187.266 47.1598 188.091 46.2457 188.468 45.4276H188.583V47H191.268V33.9091H188.551V38.831H188.468C188.104 38.032 187.317 37.054 185.675 37.054C183.521 37.054 181.699 38.7287 181.699 42.1037C181.699 45.3892 183.444 47.1598 185.681 47.1598ZM186.544 44.9929C185.208 44.9929 184.479 43.804 184.479 42.0909C184.479 40.3906 185.195 39.2209 186.544 39.2209C187.867 39.2209 188.609 40.3395 188.609 42.0909C188.609 43.8423 187.854 44.9929 186.544 44.9929Z"
                  fill="#6B6A75" />
                <path
                  d="M7.46272 1L2.98511 18.9104V60.7015H11.9403H32.8358H41.7911V18.9104L37.3135 1L32.8358 18.9104V44.2836L23.8932 34.0634C23.0964 33.1528 21.6798 33.1528 20.8829 34.0634L11.9403 44.2836V18.9104L7.46272 1Z"
                  fill="#4830E0" />
                <path
                  d="M7.46272 1L2.98511 18.9104V60.7015H11.9403H32.8358H41.7911V18.9104L37.3135 1L32.8358 18.9104V44.2836L23.8932 34.0634C23.0964 33.1528 21.6798 33.1528 20.8829 34.0634L11.9403 44.2836V18.9104L7.46272 1Z"
                  fill="url(#paint0_linear)" />
                <path
                  d="M7.46272 1L2.98511 18.9104V60.7015H11.9403H32.8358H41.7911V18.9104L37.3135 1L32.8358 18.9104V44.2836L23.8932 34.0634C23.0964 33.1528 21.6798 33.1528 20.8829 34.0634L11.9403 44.2836V18.9104L7.46272 1Z"
                  stroke="#7A7A7A" stroke-width="0.3" stroke-miterlimit="1" stroke-linejoin="round" />
                <rect x="14.3284" y="46.0747" width="15.8209" height="12.5373" fill="#232228" />
                <path
                  d="M18.0223 47.4551C18.0881 47.2843 18.3299 47.2843 18.3956 47.4551L20.1725 52.0715C20.2229 52.2025 20.1262 52.3433 19.9858 52.3433H16.4321C16.2918 52.3433 16.1951 52.2025 16.2455 52.0715L18.0223 47.4551Z"
                  fill="#BF0219" />
                <path
                  d="M18.3956 57.2314C18.3299 57.4023 18.0881 57.4023 18.0223 57.2314L16.2455 52.615C16.1951 52.484 16.2918 52.3432 16.4322 52.3432H19.9858C20.1262 52.3432 20.2229 52.484 20.1725 52.615L18.3956 57.2314Z"
                  fill="#BF0219" />
                <path
                  d="M22.2014 47.4551C22.2672 47.2843 22.5089 47.2843 22.5747 47.4551L24.3515 52.0715C24.402 52.2025 24.3053 52.3433 24.1649 52.3433H20.6112C20.4708 52.3433 20.3741 52.2025 20.4246 52.0715L22.2014 47.4551Z"
                  fill="#BF0219" />
                <path
                  d="M22.5747 57.2314C22.5089 57.4023 22.2672 57.4023 22.2014 57.2314L20.4246 52.615C20.3742 52.484 20.4709 52.3432 20.6112 52.3432H24.1649C24.3053 52.3432 24.402 52.484 24.3516 52.615L22.5747 57.2314Z"
                  fill="#BF0219" />
                <path
                  d="M26.3805 47.4551C26.4463 47.2843 26.688 47.2843 26.7538 47.4551L28.5306 52.0715C28.581 52.2025 28.4843 52.3433 28.344 52.3433H24.7903C24.6499 52.3433 24.5532 52.2025 24.6036 52.0715L26.3805 47.4551Z"
                  fill="#BF0219" />
                <path
                  d="M26.7538 57.2314C26.688 57.4023 26.4463 57.4023 26.3805 57.2314L24.6037 52.615C24.5532 52.484 24.6499 52.3432 24.7903 52.3432H28.344C28.4844 52.3432 28.5811 52.484 28.5306 52.615L26.7538 57.2314Z"
                  fill="#BF0219" />
                <rect x="2.98511" y="43.9851" width="38.806" height="1.19403" fill="#232228" />
                <rect x="2.98511" y="59.5073" width="38.806" height="1.19403" fill="#232228" />
                <rect x="21.4926" y="36.5225" width="1.79104" height="2.38806" fill="#FCF6F6" />
                <rect x="21.4926" y="40.7014" width="1.79104" height="2.38806" fill="#FCF6F6" />
                <rect x="19.1045" y="40.7014" width="1.79104" height="2.38806" transform="rotate(-90 19.1045 40.7014)"
                  fill="#FCF6F6" />
                <rect x="23.2836" y="40.7014" width="1.79104" height="2.38806" transform="rotate(-90 23.2836 40.7014)"
                  fill="#FCF6F6" />
                <rect x="21.4926" y="38.9104" width="1.79104" height="1.79104" fill="#FCF6F6" />
                <path d="M37.331 49.7974L34.7306 45.2144H39.9313L37.331 49.7974Z" fill="#BF0219" stroke="#232228" />
                <ellipse cx="37.331" cy="52.3433" rx="2.00175" ry="2.03688" fill="#FCF6F6" stroke="#232228" />
                <path d="M37.331 54.8894L39.9314 59.4724H34.7306L37.331 54.8894Z" fill="#BF0219" stroke="#232228" />
                <path d="M7.39249 49.7971L4.60965 45.2142H10.1753L7.39249 49.7971Z" fill="#BF0219" stroke="#232228" />
                <ellipse cx="7.39247" cy="52.3433" rx="2.14223" ry="2.03687" fill="#FCF6F6" stroke="#232228" />
                <path d="M7.39242 54.8894L10.1753 59.4724H4.60958L7.39242 54.8894Z" fill="#BF0219" stroke="#232228" />
                <path d="M41.291 43.5131L33.8358 39.2088L41.291 34.9045V43.5131Z" fill="#FCF6F6" stroke="#222528" />
                <path d="M41.291 28.5878L33.8358 24.2835L41.291 19.9792V28.5878Z" fill="#FCF6F6" stroke="#222528" />
                <path d="M33.3358 27.4418L40.791 31.746L33.3358 36.0503V27.4418Z" fill="#BF0219" stroke="#222528" />
                <ellipse cx="37.3661" cy="16.7681" rx="2.14223" ry="2.03687" fill="#FCF6F6" stroke="#222528" />
                <path d="M3.48509 34.6061L10.9403 38.9103L3.48509 43.2146V34.6061Z" fill="#FCF6F6" stroke="#222528" />
                <path d="M3.48509 19.6808L10.9403 23.985L3.48509 28.2893V19.6808Z" fill="#FCF6F6" stroke="#222528" />
                <path d="M11.4403 35.7521L3.98511 31.4478L11.4403 27.1435V35.7521Z" fill="#BF0219" stroke="#222528" />
                <ellipse cx="7.5154" cy="16.4697" rx="2.14223" ry="2.03687" fill="#FCF6F6" stroke="#222528" />
                <defs>
                  <linearGradient id="paint0_linear" x1="12.0896" y1="-7.0597" x2="11.7911" y2="19.2089"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>
            </a>

          </div>

          <div class="d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" style="margin-top: 25px;">
            <ul class="nav nav-pills mt0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle sans-serif medium-size border-neutral-blue-dark no-underline"
                  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menü</a>
                <div class="dropdown-menu dropdown-menu-right sans-serif">
                  <a class="dropdown-item no-underline" href="#orarend-tudnivalok">Órarend+Tudnivalók</a>
                  <a class="dropdown-item no-underline" href="#helyszin">Helyszín</a>
                  <a class="dropdown-item no-underline" href="#kapcsolat">Kapcsolat</a>
                  <a class="dropdown-item no-underline" href="/a-kizombarol-es-a-sembarol.html">A kizombáról és a
                    sembáról</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-8 col-xl-8 p0 clearfix">
          <div class="float-right">
            <nav class="mobile-hide-nav" style="margin-top: 27px" role="navigation">
              <a href="#orarend-tudnivalok" class="medium-size gray-link mr40px pthalf">Órarend+Tudnivalók</a>
              <a href="#helyszin" class="medium-size gray-link mr40px pthalf">Helyszín</a>
              <a href="#kapcsolat" class="medium-size gray-link mr40px pthalf">Kapcsolat</a>
              <a href="/a-kizombarol-es-a-sembarol.html" class="medium-size gray-link mr40px pthalf">A kizombáról és a
                sembáról</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="row mx-responsive m0 p0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 offset-xl-2 p0">
        <h1 class="red-highlight mt4 mbhalf m-mt2">Október 12-én várunk Benneteket egy kizomba és semba workshoppal</h1>
        <p class="bold-body mb0">Forma 1 Fitness Szeged, 14:00</p>
      </div>
    </div>
    <div class="row mx-responsive m0 mt2 p0">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 offset-xl-2 col-xl-5 p0">
        <p class="body-black mb2">Érdekel az afrikai társastáncok világa?<br>
          Szeretnél úgy táncolni, mint egy afrikai?</p>
        <div class="mb4 m-mb2 align-center" style="max-width: 346px;">
          <a href="<%= site.workshopLink %>" class="no-underline btn large-btn btn-lg" style="padding-top: 4px;">
            Gyere és próbáld ki!
          </a>
          <div class="align-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="#4830E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-chevron-up">
              <polyline points="18 15 12 9 6 15"></polyline>
            </svg>
            <p class="mb0 medium-size main-blue">Facebook esemény link</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 offset-xl-0 col-xl-4 p0">
        <img class="m0" src="/assets/images/kizomba_dancers_gray.png" />
      </div>
    </div>
  </div>
</div>