<h1 class="h2">Órarend+tudnivalók</h1>

<table>
  <tr>
    <td>
      14:00–14:10
    </td>
    <td>
      Bemelegítés
    </td>
  </tr>
  <tr>
    <td>
      14:10–16:10
    </td>
    <td>
      Intenzív Workshop angolai lépésekkel
    </td>
  </tr>
  <tr>
    <td>
      16:10–16:25
    </td>
    <td>
      Szünet + Zeneismeret (zenei stílusok bemutatása)
    </td>
  </tr>
  <tr>
    <td>
      16:25–17:15
    </td>
    <td>
      Gyakorlóbuli a tanultak begyakorlására
    </td>
  </tr>
</table>

<p>Érkezés: 15 perccel hamarabb, a regisztráció miatt.</p>
<p>Részvételi díj: 3000,- Ft/fő, mely a helyszínen, a kezdés előtt (13:45-14:00 között) készpénzben fizetendő.</p>
<p class="medium-gray-text-1">Nem szükséges semmilyen előismeret. Az órák szintje kezdő. Ha elegen érdeklődtök, akkor rendszeres heti órákat is tudunk indítani.</p>