.custom-form .ws-invalid label,
.custom-form .ws-invalid h3 {
  color: $body-black;
}
.custom-form .ws-invalid input,
.custom-form .ws-invalid textarea {
  border-color: $pink-error;
}

.custom-form .ws-success input,
.custom-form .ws-success textarea {
  border-color: $green;
}

.ws-errorbox {
  padding-left: 0.5rem;
  letter-spacing: 0;
  font-weight: 600;
  font-family: $body-semibold;
}

.ws-errorbox p {
  color: $pink-error;
  font-size: 0.9rem;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: $blue-link-hover;
  background: $yellow;
  border: 2px solid $blue-link-hover;
}

/*
.btn:active, .btn:active {
  background: $blue;
  box-shadow: none;
}*/

.btn {
  transition: all 0.5s ease 0s;
  height: 70px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25); /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 2px dashed $main-blue;
  border-radius: 4px;
  color: $main-blue;
  background: transparent;
  line-height: 70px;
  text-align: center;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0px 30px;
  /*font-size: 20px;*/
  line-height: 60px;
  border-radius: 2px;
}
